.font-inter{
    font-family: "Inter", sans-serif;
}
.font-raleway{
    font-family: "Raleway", sans-serif;
}
.max-width{
    max-width: 1450px;
}
.circle-new-coupon-one{
    top: 0;
    right: 0;
}
html {
    scroll-behavior: smooth;
  }