.font-inter{
    font-family: "Inter", sans-serif;
}
.font-raleway{
    font-family: "Raleway", sans-serif;
}
.max-width{
    max-width: 1450px;
}
.circle-new-coupon-one{
    top: 0;
    right: 0;
}
html {
    scroll-behavior: smooth;
  }
.home-banner{
    background: linear-gradient(#030712ab, #03071200),url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}